<footer class="footer">
    <div class="extras">
        <a href="https://github.com/dsmwebcollective/dsmwebcollective.github.io" target="_blank"><i class="fa fa-github-square"></i></a>
        <a href="https://www.facebook.com/groups/dsmwebcollective/" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/dmwebcollective" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <script async defer src="http://dsmwebcollective.herokuapp.com/slackin.js?large"></script>
    </div>

    <p>
        Des Moines Web Collective &copy; 2017
    </p>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

<!-- ScrollReveal -->
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>

<!-- Main JS -->
<script>
    ;(function(global) {
        $('.nav-toggle').click(function(e) {
            e.preventDefault();
            $('html, body').toggleClass('open');
            $('.nav').toggleClass('open');
        });

        window.sr = ScrollReveal({ origin: 'left', distance: '2rem', scale: 1 });
        sr.reveal('.list-animate a');
    })(window);
</script>
