<footer class="footer">
    <div class="extras">
        <a href="https://github.com/dsmwebcollective/dsmwebcollective.github.io"><i class="fa fa-github"></i></a>
        <script async defer src="http://dsmwebcollective.herokuapp.com/slackin.js?large"></script>
    </div>

    <p>
        Des Moines Web Collective &copy; 2016
    </p>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

<!-- Main JS -->
<script>
    ;(function(global) {
        $('.nav-toggle').click(function(e) {
            e.preventDefault();
            $('.nav').toggleClass('open');
        });
    })(window);
</script>
