// Headings

h1, h2, h3,
h4, h5, h6 {
    font-family: $font;
    color: $primary;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem
}

h5 {}

h6 {}
