// Headings

h1, h2, h3,
h4, h5, h6 {
    font-family: $font;
    color: $primary;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem
}

h5 {}

h6 {}

.page-header {
    padding: 1.75rem 1rem 1.5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 1px solid $primary;

    @media (min-width: $bp-s) {
        padding: 1.75rem 2rem 1.5rem;
        font-size: 2.5rem;
    }
}
