.list {
    > a {
        display: block;
        padding: 1rem;
        color: $primary;
        overflow: hidden;
        border-top: 1px solid $primary;
        transition: 0.3s ease-in-out;

        &:last-of-type {
            border-bottom: 1px solid $primary;
        }

        &:hover {
            background: $primary;
            color: $white;
            padding-left: 1.5rem;
        }
    }

    .date {
        font-size: 1.25rem;

        .day {
            display: inline-block;
        }
    }

    .group {
        font-size: 1rem;
        text-transform: uppercase;
    }

    .title {
        font-size: 1.5rem;
        line-height: 1;
    }

    @media (min-width: $bp-s) {
        > a {
            padding: 2rem;

            &:hover {
                padding-left: 2.5rem;
            }
        }

        .date {
            font-size: 1.75rem;
        }

        .title {
            font-size: 2rem;
        }

        .time {
            font-size: 1.2rem;
        }
    }

    @media (min-width: $bp-m) {
        & > a {
            padding: 3rem 2rem;

            &:hover {
                padding-left: 3.5rem;
            }
        }

        .date,
        .content {
            float: left;
        }

        .date {
            width: 10%;
            font-size: 2rem;
            line-height: 1;
            padding-right: 0.5rem;

            .day {
                display: block;
                font-size: 3rem;
            }
        }

        .content {
            width: 90%;
            padding-left: 0.5rem;
        }

        .title {
            font-size: 3rem;
        }
    }

    @media (min-width: $bp-xl) {
        .date {
            width: 8%;
        }

        .content {
            width: 92%;
        }
    }
}

.groups-list {
    .title {
        margin-bottom: 0.5rem;
    }
}
