// Main

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    background: #f5f5f5;
}

body {
    font: 100%/1.5 $font-secondary;
    -webkit-text-size-adjust: 100%;
    color: $black;
}

a {
    text-decoration: none;
    color: $primary;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $primary-light;
    }
}

hr {
    height: 1px;
    width: 100%;
    margin: 2rem 0;
    border: 0;
    background: #555555;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0.5rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

// Pre/Code
code,
pre,
xmp {
    color: $white;
    background: $secondary-light;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    border-radius: 3px;
    font-size: 0.8rem;
    margin: 0;
    tab-size: 4;
    hyphens: none;

    .comment {
        color: #8C93A0;
    }
}

pre,
:not(pre) > xmp {
    padding: 1rem;
    margin: 0.5rem 0;
    overflow: auto;
}

:not(pre) > code {
    padding: 0.1rem;
    white-space: normal;
}

.section {
    // margin: 0 1.5rem;
}

.section--home {
    margin-top: -20px;
    height: 100vh;
    min-height: 100vh;

    .container {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        max-width: none;
        text-align: center;
        transform: translateY(-50%);
    }

    h1 {
        font-size: 8vw;
        line-height: 1;
    }

    h3 {
        font-size: 4vw;
        line-height: 1.2;
        color: $secondary;
    }

    & + .footer {
        margin-top: -99px;
    }
}

@media (min-width: $bp-xs) {
    .section--home + .footer {
        margin-top: -54px;
    }
}

.section--page .page-content {
    padding: 1rem;

    @media (min-width: $bp-s) {
        padding: 2rem;
    }

    @media (min-width: $bp-m) {
        padding: 3rem 2rem;
    }
}
