// Navigation

.nav-open {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    color: $black;
    line-height: 1;

    &:hover {
        color: $primary;
    }
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: $primary;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;

    &.open {
        transform: translateY(0);
    }

    $num-list-items: 6;
    $actual-item-height: ((1/($num-list-items+1))*100);
    $actual-item-height-half: ($actual-item-height/2);
    $item-height: ($actual-item-height+($actual-item-height-half/$num-list-items)) + vh;

    a {
        display: block;
        height: $item-height;
        line-height: $item-height;
        padding: 0 1rem;
        font-size: 6vh;
        color: $white;
        white-space: nowrap;
        transition: color 0.3s ease-in-out,
                    background 0.3s ease-in-out,
                    letter-spacing 0.3s ease-in-out;

        &.nav-toggle {
            height: $actual-item-height-half + vh;
            line-height: $actual-item-height-half + vh;
        }

        &:hover {
            color: $primary;
            background: $white;
            letter-spacing: 2px;
        }
    }
}
